<div class="container main__con">
  <div class="top__row row">
    <div class="image__div col-4">
      <img style="max-width:100%;"
           src="https://ak1.ostkcdn.com/images/products/8818677/Samsung-Galaxy-S4-I337-16GB-AT-T-Unlocked-GSM-Android-Cell-Phone-85e3430e-6981-4252-a984-245862302c78_600.jpg"/>
    </div>
    <div class="details__div col-8" *ngIf="result">
      <div class="title">
        <h3>{{result[1].brand.brandName + " " + result[1].name}}</h3>
      </div>

      <div class="itm__details">
        <ul>
          <li>primary cam {{result[1].primaryCamera}}Mp</li>
          <li>secondry cam {{result[1].secondryCam}}Mp</li>
          <li>procesor speed {{result[1].prosesorSpeed}}GHz</li>
          <li>ram {{result[1].ram}}Gb</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom__row row">
    <div *ngFor="let item of result[1]">
      <app-mobile-price-card [item]="item"></app-mobile-price-card>
    </div>
  </div>
</div>
