<div [ngClass]="{header_main_Home:router.url==='/'}" class="header_main">
  <div class="container">
    <div class="row">

      <!-- Logo -->
      <div class="col-lg-3 col-sm-3 col-3">
        <div class="logo_container">
          <div class="logo"><a routerLink="" routerLinkActive="active"><img src="assets/main/logo.png"></a></div>
        </div>
      </div>

      <!-- Search -->
      <div class="col-lg-7 col-12 order-lg-2 text-lg-left text-right">
        <div class="header_search">
          <div class="header_search_content">
            <div class="header_search_form_container">
              <form [formGroup]="searchPanelForm" (ngSubmit)="onSubmit()" class="header_search_form clearfix">
                <input formControlName="searchKeyWord" type="search" required="required" class="header_search_input"
                       placeholder="Search for mobile...">
                <div class="custom_dropdown">
                  <select class="custom_dropdown_list">
                    <span class="custom_dropdown_placeholder clc">All Categories</span>
                    <i class="fas fa-chevron-down"></i>
                    <!--                    <div class="custom_list clc">-->
                    <option><a class="clc" href="#">All Categories</a></option>

                    <option *ngFor="let item of category"><a class="clc" href="#">{{item.brandName}}</a></option>
                    <!--                    </div>-->
                  </select>
                </div>
                <button type="submit" class="header_search_button trans_300" value="Submit"><img src="images/search.png"
                                                                                                 alt=""></button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="logedIn" class="col-lg-1 order-4">
        <div class="logo_container">
          <div  class="logo"><a routerLink="favorite" routerLinkActive="active"><img class="logo__favorite" src="assets/favorite.png"></a></div>
        </div>
      </div>
      <div *ngIf="!logedIn" class="col-lg-1 order-4">
        <div class="logo_container">
          <div class="logo"><a routerLink="login" routerLinkActive="active"><img class="logo__favorite" src="assets/login.jpeg"></a></div>
        </div>
      </div>
      <div *ngIf="!logedIn" class="col-lg-1 order-4">
        <div class="logo_container">
          <div class="logo" ><a routerLink="sign_up"  routerLinkActive="active"><img class="logo__favorite" src="assets/register.png"></a></div>
        </div>
      </div>
      <div *ngIf="logedIn"  class="col-lg-1 order-4">
        <div class="logo_container">
          <div class="logo" (click)="logOut()"><a  routerLinkActive="active"><img class="logo__favorite" src="assets/logOut.png"></a></div>
        </div>
      </div>



    </div>
  </div>
</div>




